[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pybind11" = "*"
six = "*"
transformations = "*"
scipy = "*"
scikit-learn = "==0.23.1"
matplotlib = "*"
nbformat = "==5.0.2"
"open3d" = "==0.10.0.0"

[dev-packages]
sphinx = "*"
"flake8" = "*"
sphinx-rtd-theme = "*"
twine = "*"

[scripts]
lint = "flake8 ."
