[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"open3d-python" = "*"
"pybind11" = "*"
six = "*"
transformations = "*"
scipy = "*"
scikit-learn = "*"
sphinx = "*"
matplotlib = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"flake8" = "*"

[scripts]
lint = "flake8 ."