[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pybind11" = "*"
six = "*"
transformations = "*"
scipy = "*"
scikit-learn = "==0.20.3"
matplotlib = "*"
"open3d" = "*"

[dev-packages]
sphinx = "*"
"flake8" = "*"
sphinx-rtd-theme = "*"

[scripts]
lint = "flake8 ."
